:host {
  display: block;
  background: white;
}
.mat-nav-list_application-logo {
  width: 60%;
}

.mat-nav-list_application-category {
  color: lightgray;
}

.mat-nav-list .mat-list-item .mat-list-avatar {
  border-radius: 0;
  width: 60px;
  height: 60px;
}

.mat-nav-list_application-price {
  display: block;
  min-width: 100px;
  margin-right: -20px;
  text-transform: uppercase;
}
